<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Quiz</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <a class="navbar-brand" href="#">Chaeeun Park</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span> 
        </button> <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
        <ul class="navbar-nav mr-auto"> 
        <li class="nav-item active"> 
            <a class="nav-link" href="#">chaeun0618@naver.com
                <span class="sr-only">(current)</span>
            </a> 
            </li> 
        <li class="nav-item"> 
            <a class="nav-link" href="https://www.instagram.com/eunoia_cha/">instagram</a> 
            </li> 
        <li class="nav-item"> 
            <a class="nav-link" href="https://www.facebook.com/profile.php?id=100006769116722">facebook</a> 
            </li>
            </ul> 
        <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Like</button> 
            </form> </div> </nav> 
    <h1>
        <center><br>3 truths and a lie<br></center>
    </h1>
    <h6><center>
    3개의 사실 1개의 거짓말이 있습니다.<br></center></h6>
    <br><br><br>

    <div class="container"> 
    <div class="row"> 
        <div class="col-3"> 
        <div class="card"> 
            <div class="card-body"> <h5 class="card-title" style="color:#4374D9">Q1</h5> 
            <p class="card-text">저는 부먹입니다.<br></p>
				<a href='{% url "lovely:second" %}'>정답확인<br><br></a>
                </div> </div> </div> 
        <div class="col-3"> 
        <div class="card"> 
            
            <div class="card-body"> 
            <h5 class="card-title" style="color:#4374D9">Q2</h5> 
            <p class="card-text">제 베스킨라빈스 최애 맛은 레인보우샤베트입니다.</p>
				<a href='{% url "lovely:second" %}'>정답확인<br></a>
                </div> </div> </div> 
        <div class="col-3"> <div class="card"> 

            <div class="card-body"> <h5 class="card-title" style="color:#4374D9">Q3</h5> 
            <p class="card-text">저는 민트초코를 좋아합니다.<br><br><br>
				<a href='{% url "lovely:third" %}'>정답확인<br></a></p> 
                </div> </div> </div> <div class="col-3"> 
        <div class="card"> 
        <div class="card-body"> 
            <h5 class="card-title" style="color:#4374D9">Q4</h5> 
            <p class="card-text">저는 오이를 좋아합니다.<br><br></p> 
			<a href='{% url "lovely:second" %}'>정답확인<br></a>
            </div> </div> </div>
    <!-- Optional JavaScript --> <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


